.home__hero-section {
  color: #fff;
  padding: 160px 0;
}
.home__hero-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;
}
.col {
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  flex: 1;
  max-width: 40%;
  flex-basis: 50%;
}
.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}
.top-line {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  font-weight: 800;
  letter-spacing: 10px;
  margin-top: 0px;
  margin-bottom: 16px;
}
.heading {
  margin-top: 30px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 500px;
  color: #f7f8fa;
}
.dark {
  background-color: #252d4b;
}
.home__hero-subtitle {
  color: #cbd6ee;
  max-width: 500px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}
.home__hero-img-wrapper {
  max-width: 700px;
}
.home__hero-img {
  max-width: 95%;
  padding-right: 0;
  margin: 0 0 0 10px;
}
img {
  border: 0;
  border-radius: 4px;
  max-width: 100%;
  height: 80%;
  vertical-align: middle;
  display: inline-block;
}
.home__hero-button-wrapper {
  display: flex;
  flex-direction: column;
}
.home__hero-button-wrapper Button {
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 991px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }
  .col {
    max-width: 100%;
    max-height: 100%;
  }
}
