.sidebar-wrapper{
  position: relative;
}

.menu-heading {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #060b26;
  color: #ffff;
  height: 80px;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
  letter-spacing: 0.1rem;
}

/* .sidebar-container{
  margin-top: 160px;
} */

.menu-heading svg {
  margin-right: 2rem;
  margin-left: 1rem;
}
.side-menu {
  background-color: #060b26;
  width: 300px;
  margin-top: 160px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.side-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.sidebar-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.sidebar-text a:hover {
  background-color: #1a83ff;
}

.side-menu-items {
  width: 100%;
}

.sidebar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

@media screen and (max-width: 768px) {
  .menu-heading {
    flex-direction: row;
    height: 80px;
    justify-content: center;
    font-size: 1.2rem;
  }

  .menu-heading svg {
    margin-left: 1rem;
  }
}
