.elec-form-wrapper {
  max-width: 80vw;
  margin-right: 0.4rem;
  margin-left: 308px;
  margin-top: 88px;
}

.elec-form-container{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}

select{
    margin-left: 20px;
    max-width: 10rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.25rem;
}

th {
  background-color: #eee;
  text-align: center;
}

.elec-form-table-input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 0.1rem;
  font-size: inherit;
}

.elec-form-table-input[type="text"]:focus {
  outline: none;
  background-color: #f5f5f5;
}

label{
    width: 200px;
}

.elec-form-row input[type="text"]{
    margin-left: 20px;
}

.elec-form-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

.elec-form-grama{
    margin: 0;
}

@media screen and (max-width: 768px) {
    .elec-form-wrapper {
      width: 99%;
      max-width: none;
      margin-top: 88px;
        margin-left: 0.6rem;
    }
}