.elec-form-wrapper {
  max-width: 80vw;
  margin-right: 0.4rem;
  margin-left: 308px;
  margin-top: 88px;
}

.elec-form-container {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

select {
  margin-left: 20px;
  max-width: 10rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.25rem;
}

th {
  background-color: #eee;
  text-align: center;
}

.elec-form-table-input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 0.1rem;
  font-size: inherit;
}

.elec-form-table-input[type="text"]:focus {
  outline: none;
  background-color: #f5f5f5;
}

label {
  width: 11rem;
}

.elec-form-row input[type="text"] {
  margin-left: 20px;
}

.elec-form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

.elec-form-grama {
  margin: 0;
}

.form-proceed {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.form-proceed button {
  padding: 8px 20px;
  margin-left: auto;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #276afb;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
.form-proceed button:hover {
  background-color: #0f58f6;
  color: #fff;
  scale: 1.05;
}

.add-block button {
  width: 99%;
  padding: 4px;
  border-radius: 4px;
  margin-top: 8px;
  border: none;
  background-color: rgb(131 163 234);
  color: #fff;
  cursor: pointer;
}

.add-block button:hover {
  scale: 0.98;
  background-color: rgb(113, 154, 241);
}

@media screen and (max-width: 768px) {
  .elec-form-wrapper {
    width: 99%;
    max-width: none;
    margin-top: 88px;
    margin-left: 0.6rem;
  }
}
