/* .school-details-wrapper {
  max-width: 80vw;
  margin-top: 84px;
  margin-right: 0.4rem;
  margin-left: 308px;
  margin-bottom: 0.4rem;
}
fieldset{
    padding: 4px;
}
.school-details-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.school-details-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.school-label {
  width: 120px;
  text-align: right;
  margin-right: 20px;
}

select {
  width: 80px;
  margin-right: 20px;
}

input[type="text"]{
    width: 120px;
    margin-right: 20px;
} */

@media screen and (max-width: 768px) {
  .school-details-wrapper {
    width: 99%;
    margin-top: 88px;
    margin-left: 8px;
    margin-right: auto;
    max-width: none;
  }
  .school-details-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .school-details-row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .school-details-row input[type="text"],
  .school-details-row select {
    width: 100%;
    margin-right: 0;
  }

  .school-details-row label,
  .school-details-row input[type="text"],
  .school-details-row select {
    margin-bottom: 5px;
  }
  fieldset {
    margin: -6px;
  }
}
